aextsvc/main/default/flows/aa_external_services_nov2020.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Account</name>
        <label>Add Account</label>
        <locationX>816</locationX>
        <locationY>63</locationY>
        <actionName>iAService.addAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>account_updated</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>account</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>updatedAccount</assignToReference>
            <name>409Exc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assign_updated_account</name>
        <label>assign updated account</label>
        <locationX>905</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>user.AccountID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedAccount.id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>account_updated</name>
        <label>account updated?</label>
        <locationX>627</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>assign_updated_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>account updated</defaultConnectorLabel>
        <rules>
            <name>account_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updatedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_user_account</targetReference>
            </connector>
            <label>account created</label>
        </rules>
    </decisions>
    <interviewLabel>aa external services nov2020 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>aa external services nov2020</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_user_account</name>
        <label>update user account</label>
        <locationX>445</locationX>
        <locationY>406</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>account.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Employee_Bank_Record</name>
        <label>Employee Bank Record</label>
        <locationX>620</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Account</targetReference>
        </connector>
        <fields>
            <name>Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>108</locationY>
        <connector>
            <targetReference>Employee_Bank_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <apexClass>ExternalService__iAService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountTypeField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>updatedAccount</name>
        <apexClass>ExternalService__iAService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
